
<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #98f5e1;" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">© Incognito</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-2 mb-1">
            <a href="/" class="btn btn-outline-success">Home</a>
          </li>
          <% if(!currentUser) { %>
          <li class="nav-item ms-2 mb-1">
            <a href="/login" class="btn btn-outline-success">Login</a>
          </li>
          <li class="nav-item ms-2 mb-1">
            <a href="/register" class="btn btn-outline-success">Register</a>
          </li>
      
            
              <%}
             else {%>
              <li class="nav-item ms-2 mb-1">
              <form class="">
              <a href="/logout" class="btn btn-outline-success">Logout</a>
             </form>
            </li>
            
            <%}%> 
         
          </ul>
          
          <form class="d-flex flex-row-reverse ms-2" action="/standalone" method="POST">
            <input class="form-control ms-2" type="search" placeholder="Ronin Address" aria-label="Search" id="searchRonin" name="searchRonin" required>
            <button class="btn btn-outline-success" type="submit">Track</button>
          </form>
      </div>
    </div>
  </nav>