<% -layout('/layouts/boilerplate') -%>
    <div class="container d-flex-center justify-content-center align-items-center" style="margin-top: 10em;">
        <div class="row">
            <div class="col-md-9 offset-md-3 col-xl-4 offset-xl-4">

                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Forgot Password</h1>
                            <div><i>
                                    <%=mes%>
                                </i></div>
                            <div class="d-grid gap-2">
                                <a href="/" class="btn btn-danger">Go back</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>