<% -layout('/layouts/boilerplate') -%>
 
  <div class="d-flex justify-content-center">
  
    
   
     <div class="text-center text-white">
        <h1>Incognito</h1>
        <p>Axie Infinity Scholar Tracker</p>
        <% if(!currentUser) { %>
        <a href="/login" class="btn btn-lg btn-success btn-outline-primary font-weight-bold text-white">Login</a>
        <a href="/register" class="btn btn-lg btn-danger btn-outline-warning font-weight-bold text-white">Register</a>
          <% }  else  { %>
            <a href="/profile" class="btn btn-lg btn-secondary font-weight-bold text-white">Profile</a>
          <% } %>
        </div>
  </div> 
</div>
