<% -layout('/layouts/boilerplate') -%>
<div class="hide">
<div class="container d-flex-center justify-content-center align-items-center mt-1">
    <div class="row">
        <div class="col-md-9 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow" id="card">
                <img src="https://coinlive.me/wp-content/uploads/2022/01/Axie-Infinity-unveils-first-images-of-Project-K-and-terrain.jpeg" alt="" class="card-image-top"/>
                <div class="card-body">
                    <h5 class="card-title">Registration</h1>
                    <form action="" method="POST">
                        <label for="username">Username</label>             
                        <input type="text" id="username" name="newu[username]" class="form-control"> 
                        <label for="password">Password</label>                   
                        <input type="password" id="password" name="newu[password]"  class="form-control">                                            
                        <label for="email">Email</label>                        
                        <input type="text" id="email" name="newu[email]"  class="form-control">    
                        <label for="name">Name</label> 
                        <input type="text" id="name" name="newu[name]"  class="form-control"><br> 
                        <div class="d-grid gap-2">
                            <button class="btn btn-danger" type="submit">Register</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>