<% -layout('/layouts/boilerplate') -%>
<div class="hide">
<div class="container d-flex-center justify-content-center align-items-center mt-1">
    <div class="row">
        <div class="col-md-9 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow" id="card">
                <img src="https://coinlive.me/wp-content/uploads/2022/01/Axie-Infinity-unveils-first-images-of-Project-K-and-terrain.jpeg" alt="" class="card-image-top"/>
                <div class="card-body">
                    <h5 class="card-title">Registration</h1>
                    <form action="" method="POST" id = "regForm">
                        <label for="username2">Username</label>             
                        <input type="text" id="username2" name="newu[username]" class="form-control border-3" required>
                        <div><small id="username2Warning"></small></div> 
                        <label for="password1">Password</label>                   
                        <input type="password" id="password1" name="newu[password]"  class="form-control border-3" required>
                        <div><small id="password1Warning"></small></div>
                        <label for="password2">Repeat Password</label>                   
                        <input type="password" id="password2" name="password2" class="form-control border-3" required>
                        <div><small id="password2Warning"></small></div>                                               
                        <label for="email">Email</label>                        
                        <input type="text" id="email" name="newu[email]"  class="form-control border-3" required>   
                        <div><small id="emailWarning"></small></div> 
                        <label for="name">Name</label> 
                        <input type="text" id="name" name="newu[name]"  class="form-control border-3" required><br> 
                        <div><small id="warning2"></small></div> 
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" type="submit">Register</button>
                          </div>
                          <div class="d-grid gap-2 mt-1">
                            <a href="/" class="btn btn-danger">Cancel</a>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>