body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("axie.jpg");
    background-size: cover;
    background-repeat: no repeat;
}
.center {
    margin-top: 150px;
    margin-left: 300px;
    width:60%;
    padding: 10px;
    color: #f9dcc4;
    font-weight:bold;
}
#card {
    box-sizing: content-box;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.8;
    animation: slideUp .8s

    
}


#tableres{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  animation: slideUp 1s
  
   

}
#slptotal :hover{
background-color: #2b2c28;

}
#slptotal, #but{
 
  background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

  box-shadow: 6px 5px 5px  teal ;
  
 animation: slideIn 1s
}

.hide{
  overflow: hidden;
}
#slpimg{
  height: 3rem;
  margin-top: 2rem;
  margin-right: 5px;
}
#slpnum{
  font-size: 200px;
  margin: 0;
}
#viewM{
  background-color: blueviolet;
  font-size: 10px;
justify-content: center;
  box-sizing: content-box;
  max-width: 5em;
  max-height: 2em;
  text-overflow: hidden;
}






@keyframes slideUp {
    0% {
      transform: translateY(500px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }